.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-title {
  margin-left: 40px;
  text-align: left;
  color:white;
  font-size: 50px;
  /* font-family: "Montserrat"; */
}

#title {
  position: relative;
  animation: title-anim;
  animation-duration: 2s;
}


@keyframes title-anim {
  0% {left: -240px;}
  100% {left: 0px;}
}

.App-stay-on-track {
  position: relative;
  top:50px;
  font-size: 80px;
}

#track {
  position: relative;
  animation: track-anim;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  
}

@keyframes track-anim {
  0% {top: -200px;}
  100% {top: 100px;}
}

.App-register {
  float: right;
  margin-top: 20px;
  margin-right: 100px;
  color:white;
  font-size: 20px;
}

.button {
  margin: auto;
  display:inline-block;
  text-decoration: none;
  border: none;
  font-size: 32px;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  position: relative;
  opacity: 0;
  top: -100px;
  text-align: center;
  background-color: #8168FE;
  color: white;
  border-radius: 16px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  animation: btn;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}


@keyframes btn {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

.button:hover {
  background-color: skyblue;
}

.App-header {
  background-color: #282c34;
  background-image: linear-gradient(to right, #8168FE, #50E7FE);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
