.sidebar {
  max-width: 240px;
  background-image: linear-gradient(to right, #8168fe, #50e7fe);

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-subitem-text {
  font-size: 0.8rem;
}

.image {
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
}
